@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: o;
    margin: 0;
    background-color: rgb(29, 34, 34);
    color: lightcyan;
    /* overflow-y: scroll;
    scrollbar-width: none; */
}